---
import "../styles/global.css"


const identity = {
    name: "Kazuki",
    country:"日本",
    occapation:"",
    hobbies:["プログラミング","筋トレ","読書"],
}

const skills = ["HTML" ,"CSS","JavaScript"]

const skillColor ="green";
const fontWeight ="bold";
const textCase = "uppercase";

import Baselayout from "../layouts/Baselayout.astro";

const pagetitle = "About";



---


<style define:vars={{skillColor,fontWeight,textCase}}>
	h1{
		color: purple;
		font-size: 3rem;
	}
	.skill{
		color: var(--skillColor);
		font-weight: var(--fontWeight);
		text-transform: var(--textCase) ;
	}
</style>
	
	
	


<Baselayout pagetitle={pagetitle}>

        <h2>Sample</h2>
        <p>Demo Text</p>
        <p>私について</p>
        <ul>
            <li>私の名前は{identity.name}です </li>
            <li>私は、{identity.country}に住んでいます</li>
			{
				identity.hobbies.length >= 2 && (
					<li>
					私の趣味は、２つあリます
					{identity.hobbies[0]}と{identity.hobbies[1]}です
					</li>
				)
			}
        </ul>
		<!-- <p>私のスキル</p>
		<ul >
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul> -->
</Baselayout>

